# Data Science Tools and Ecosyste using H1 style Heading.

In this notebook, Data Science Tools and Ecosyste are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python </li> 
    <li>R</li>
    <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<li>NumPy</li>
<li>Matplotlib</li>
<li>Pandas</li>


|Data Science Tools|
|--------|
|Jupyter Notebook|
|RStudio|
|VS Code|

### Below are a few examples of evaluating aritimetic expressions in Python.

\(5 + 3 = 8\)

\(10 - 2 = 8\)

\(4 \* 7 = 28\)

In [6]:
# this is a simmple arithmmetic expression to 
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives**
<li>Python</li>
<li>R</li>
<li>SQL</li>

## Mehari Yohannes